<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{'CAT_FILTER' | translate}}</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()">{{'ACCEPT' | translate}}</button>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item item-icon-left item-checkbox" ng-repeat="categorie in categories">
                <i class="{{categorie.icon}}"></i>
                {{categorie.name | translate}}
                <label class="checkbox">
                    <input type="checkbox" ng-click="includeCategorie('{{categorie.name}}')"/>
                </label>
            </li>
        </ul>
    </ion-content>
</ion-modal-view>