<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">Añadir coordenadas</h1>
        <button class="button button-clear button-primary" ng-click="closeModal(2)">{{'ACCEPT' | translate}}</button>
    </ion-header-bar>
    <ion-content scroll="false" data-tap-disabled="true">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>
        </ui-gmap-google-map>
        <div ng-cloak>
            <ul>
                <li>coords update ctr: {{coordsUpdates}}</li>
                <li>dynamic move ctr: {{dynamicMoveCtr}}</li>
            </ul>
        </div>
    </ion-content>
</ion-modal-view>