<ion-view view-title="Share">
  <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">{{'SHARE' | translate}}</h1>
        <button class="button button-icon ion-close-round" ng-click="closeModal()"></button>
    </ion-header-bar>
  <ion-content>
   <div class="card">
      <div class="item item-text-wrap">
        <button class="button button-block button-balanced item-icon-left" ng-click="whatsappShare()">
            <i class="icon ion-social-whatsapp"></i>
              WhatsApp
      </button>
      </div>

      <div class="item item-text-wrap">
        <button class="button button-block button-balanced item-icon-left" ng-click="facebookShare()">
            <i class="icon ion-social-facebook"></i>
              Facebook
      </button>
      </div>
 
      <div class="item item-text-wrap">
        <button class="button button-block button-balanced item-icon-left" ng-click="OtherShare()">
             <i class="icon ion-android-share-alt"></i>
              Otros
      </button>
      </div>
   </div>
   </div>
  </ion-content>
</ion-view>