<ion-view view-title="{{ 'FAVORITES' | translate }}">
    <ion-content scroll="false">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id" click="onClick()">
                <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                    <div>{{ 'INFO' | translate }}</div>
                </ui-gmap-window>
            </ui-gmap-marker>
            <ui-gmap-window show="map.window.show" coords="map.window.model" 
                options="map.window.options" closeclick="map.window.closeClick()">
                <div>{{description}}</div>
            </ui-gmap-window>
            <ui-gmap-markers idkey="'id'" models="map.markers" coords="'coords'" docluster="false" fit="'true'" events="map.markersEvents" options="'options'"></ui-gmap-markers>
        </ui-gmap-google-map>
    </ion-content>
</ion-view>