<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-stable tabs-striped tabs-color-light">

    <!-- INCIDENTS Tab -->
    <ion-tab title="{{ 'INCIDENTS' | translate }}" ng-controller="StateCtrl as state" class="{{showTab('incidents')}}" icon-off="ion-clock" icon-on="ion-clock" href="#/tab/incidents" on-select="state.onTabSelected(this)">
    <div ng-controller="IncidentsCtrl">
        <ion-nav-view name="tab-incidents">
        </ion-nav-view>
        <ion-footer-bar class="bar-stable footer-button">
                <button class="button button-stable icon-left ion-ios-list" onclick="window.location.href='#/tab/incidents'"></button>
                <button class="button button-stable icon-left ion-ios-location" onclick="window.location.href='#/tab/incidents-map'"></button>
                <button class="button button-stable icon-left ion-grid" onclick="window.location.href='#/tab/incidents-grid'"></button>
                <button class="button button-stable icon-left ion-plus-circled" onclick="window.location.href='#/tab/new'"></button>
                <button class="button button-stable icon-left ion-funnel" ng-click="openModal()">{{ 'FILTER' | translate }}</button>
        </ion-footer-bar>
    </div>
    </ion-tab>

    <!-- MY INCIDENTS Tab -->
    <ion-tab title="{{ 'MY_INCIDENTS' | translate }}" ng-controller="StateCtrl as state" class="{{showTab('my_incidents')}}" icon-off="ion-pin" icon-on="ion-pin" href="#/tab/my-incidents" on-select="state.onTabSelected(this)">
    <div ng-controller="MyIncidentsCtrl">
        <ion-nav-view name="tab-my-incidents">
        </ion-nav-view>
        <ion-footer-bar class="bar-stable footer-button">
                <button class="button button-stable icon-left ion-ios-list" onclick="window.location.href='#/tab/my-incidents'"></button>
                <button class="button button-stable icon-left ion-ios-location" onclick="window.location.href='#/tab/my-incidents-map'"></button>
                <button class="button button-stable icon-left ion-grid" onclick="window.location.href='#/tab/my-incidents-grid'"></button>
                <button class="button button-stable icon-left ion-funnel" ng-click="openModal()">{{ 'FILTER' | translate }}</button>
        </ion-footer-bar>
    </div>
    </ion-tab>

    <!-- FAVORITES Tab -->
    <ion-tab title="{{ 'FAVORITES' | translate }}" ng-controller="StateCtrl as state" class="{{showTab('favorites')}}" icon-off="ion-star" icon-on="ion-star" href="#/tab/favorites" on-select="state.onTabSelected(this)">
    <div ng-controller="FavoritesCtrl">
        <ion-nav-view name="tab-favorites">
        </ion-nav-view>
        <ion-footer-bar class="bar-stable footer-button">
                <button class="button button-stable icon-left ion-ios-list" onclick="window.location.href='#/tab/favorites'"></button>
                <button class="button button-stable icon-left ion-ios-location" onclick="window.location.href='#/tab/favorites-map'"></button>
                <button class="button button-stable icon-left ion-grid" onclick="window.location.href='#/tab/favorites-grid'"></button>
                <button class="button button-stable icon-left ion-funnel" ng-click="openModal()">{{ 'FILTER' | translate }}</button>
        </ion-footer-bar>
    </div>
    </ion-tab>

    <!-- BACK Tab -->
    <ion-tab title="{{ 'BACK' | translate }}" ng-controller="StateCtrl as state" class="{{showTab('back')}}" icon-off="ion-arrow-return-left" icon-on="ion-arrow-return-left" on-select="state.onTabSelected(this)">
    </ion-tab>

    <!-- MY ACTIVITIES Tab -->
    <ion-tab title="{{ 'MY_ACTIVITIES' | translate }}" ng-controller="StateCtrl as state" class="{{showTab('my_activities')}}" icon-off="ion-pin" icon-on="ion-pin" href="#/tab/my-activities" on-select="state.onTabSelected(this)">
    <div ng-controller="MyIncidentsCtrl">
        <ion-nav-view name="tab-my-activities">
        </ion-nav-view>
        <ion-footer-bar class="bar-stable footer-button">
                <button class="button button-stable icon-left ion-ios-list" onclick="window.location.href='#/tab/my-incidents'"></button>
                <button class="button button-stable icon-left ion-ios-location" onclick="window.location.href='#/tab/my-incidents-map'"></button>
                <button class="button button-stable icon-left ion-grid" onclick="window.location.href='#/tab/my-incidents-grid'"></button>
                <button class="button button-stable icon-left ion-funnel" ng-click="openModal()">{{ 'FILTER' | translate }}</button>
        </ion-footer-bar>
    </div>
    </ion-tab>

    <!-- FAVORITES ACTIVITIES Tab -->
    <ion-tab title="{{ 'FAVORITES' | translate }}" ng-controller="StateCtrl as state" class="{{showTab('favorites_activities')}}" icon-off="ion-star" icon-on="ion-star" href="#/tab/favorites-activities" on-select="state.onTabSelected(this)">
    <div ng-controller="FavoritesCtrl">
        <ion-nav-view name="tab-favorites-activities">
        </ion-nav-view>
        <ion-footer-bar class="bar-stable footer-button">
                <button class="button button-stable icon-left ion-ios-list" onclick="window.location.href='#/tab/favorites'"></button>
                <button class="button button-stable icon-left ion-ios-location" onclick="window.location.href='#/tab/favorites-map'"></button>
                <button class="button button-stable icon-left ion-grid" onclick="window.location.href='#/tab/favorites-grid'"></button>
                <button class="button button-stable icon-left ion-funnel" ng-click="openModal()">{{ 'FILTER' | translate }}</button>
        </ion-footer-bar>
    </div>
    </ion-tab>

    <!-- ACTIVITIES Tab -->
    <ion-tab title="{{ 'ACTIVITIES' | translate }}" ng-controller="StateCtrl as state" class="{{showTab('activities')}}" icon-off="ion-android-contacts" icon-on="ion-android-contacts" href="#/tab/activities" on-select="state.onTabSelected(this)">
    <div ng-controller="ActivitiesCtrl">
        <ion-nav-view name="tab-activities">
        </ion-nav-view>
        <ion-footer-bar class="bar-stable footer-button">
                <button class="button button-stable icon-left ion-ios-list" onclick="window.location.href='#/tab/activities'"></button>
                <button class="button button-stable icon-left ion-ios-location" onclick="window.location.href='#/tab/activities-map'"></button>
                <button class="button button-stable icon-left ion-grid" onclick="window.location.href='#/tab/activities-grid'"></button>
                <button class="button button-stable icon-left ion-plus-circled" onclick="window.location.href='#/tab/new-activitie'"></button>
                <button class="button button-stable icon-left ion-funnel" ng-click="openModal()">{{ 'FILTER' | translate }}</button>
        </ion-footer-bar>
    </div>
    </ion-tab>

</ion-tabs>