<ion-view view-title="{{ 'INCIDENTS' | translate }}">
    <ion-content scroll="false" data-tap-disabled="true">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="markerUser.coords" options="markerUser.options" idkey="10000">
            </ui-gmap-marker>
            <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" click="onClick">
            <ui-gmap-windows show="'show'">
                <div ng-non-bindable class="window">
                    <a href="#/tab/incidents/{{id_incident}}" style="text-decoration:none; color:black;"><p class="titlewindow">{{categorie | translate}}</p><p class="descriptionwindow">
                    {{description}}</p><img class="imagewindow" src="{{image}}"/></a>
                </div>
            </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
        <ion-footer-bar class="bar-stable footer-button">
                <button class="button button-stable icon-left ion-ios-list" onclick="window.location.href='#/tab/incidents'"></button>
                <button class="button button-stable icon-left ion-loop" ng-click="doRefresh()"></button>
                <button class="button button-stable icon-left ion-plus-circled" onclick="window.location.href='#/tab/new'"></button>
                <button class="button button-stable icon-left ion-funnel" ng-click="openModal()">{{ 'FILTER' | translate }}</button>
        </ion-footer-bar>
    </ion-content>
</ion-view>