<div ng-init="id=0">
<ion-view view-title="{{ 'MY_INCIDENTS' | translate }}">
    <ion-content scroll="false" data-tap-disabled="true">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker coords="markerUser.coords" options="markerUser.options" idkey="10000">
            </ui-gmap-marker>
            <ui-gmap-marker ng-repeat="incident in incidents | filter:categorieFilter"
                   coords="incident.coords" idkey="id + 1" options="marker.options">
                <ui-gmap-window ng-cloak>
                    <div class="window">
                    <a href="#/tab/my-incidents/{{incident.id}}" style="text-decoration:none; color:black;"><p class="titlewindow">{{incident.categorie | translate}}</p><p class="descriptionwindow">
                    {{incident.description}}</p><img class="imagewindow" ng-src="{{incident.image}}" /></a>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
        <ion-footer-bar class="bar-stable footer-button">
                <button class="button button-stable icon-left ion-ios-location" onclick="window.location.href='#/tab/my-incidents-map'"></button>
                <button class="button button-stable icon-left ion-ios-list" onclick="window.location.href='#/tab/my-incidents'"></button>
                <!--<button class="button button-stable icon-left ion-grid" onclick="window.location.href='#/tab/my-incidents-grid'"></button>-->
                <button class="button button-stable icon-left ion-funnel" ng-click="openModal()">{{ 'FILTER' | translate }}</button>
        </ion-footer-bar>
    </ion-content>
</ion-view>
</div>