<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">{{'GET_THERE' | translate}}</h1>
        <button class="button button-icon ion-checkmark-round" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>
        <ng-map zoom="12" center="current-location" style="height:100%">
        <directions 
          draggable="true"
          panel="directions-panel"
          travel-mode="DRIVING"
          origin="current-location"
          destination="{{destination}}">
        </directions>
      </ng-map> 
    </ion-content>
</ion-modal-view>