<ion-view view-title="{{ 'FAVORITES' | translate }}">
    <ion-content>
        <div class="card" ng-show="activities.length === 0">
            <div class="item item-text-wrap">
                {{ 'NOT_ADDED_ACTIVITIES' | translate }}
            </div>
        </div>
        <ion-list show-delete="shouldShowDelete">
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="activity in activities | filter:typeFilter" type="item-text-wrap" href="#/tab/favorites-activities/{{activity.id}}">
                <ion-delete-button class="ion-minus-circled"></ion-delete-button>
                <img ng-src="{{activity.image}}">
                <h2>{{activity.activityType | translate}}</h2>
                <p>{{activity.description}}</p>
                <i class="icon ion-chevron-right"></i>
                <ion-delete-button class="ion-minus-circled" ng-click="remove(activity)"></ion-delete-button>
            </ion-item>
        </ion-list>
        <ion-toggle ng-model="shouldShowDelete">
            {{ 'REMOVE' | translate }}
        </ion-toggle>
    </ion-content>
</ion-view>