<ion-view view-title="{{ 'ACTIVITIES' | translate }}">
    <ion-content scroll="false">
        <div style="width:100%;height:100%; background-color: #e9e9e9;" id="multiple_marker_map_canvas"></div>
    </ion-content>
    <ion-footer-bar class="bar-stable footer-button">
        <button class="button button-stable icon-left ion-ios-list" onclick="window.location.href='#/tab/activities'"></button>
        <button class="button button-stable icon-left ion-loop" ng-click="doRefresh()"></button>
        <button class="button button-stable icon-left ion-funnel" ng-click="openModal()">{{ 'FILTER' | translate }}</button>
    </ion-footer-bar>
</ion-view>
