<ion-view view-title="{{ 'MY_ACTIVITIES' | translate }}">
    <ion-content>
        <div class="card" ng-show="activities.length === 0">
            <div class="item item-text-wrap">
                {{ 'STILL_ACTIVITY' | translate }}
            </div>
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="activity in activitys | filter:typeFilter" type="item-text-wrap" href="#/tab/my-activities/{{activity.id}}">
                <img ng-src="{{activity.image}}">
                <h2>{{activity.activityType | translate}}</h2>
                <p>{{activity.description}}</p>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>