<ion-view view-title="{{'ACTIVITIES' | translate}}">
    <ion-content>
        <ion-refresher
            pulling-text="{{'REFRESH' | translate}}"
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="card" ng-show="activities.length === 0">
            <div class="item item-text-wrap">
                {{ 'NO_ACTIVITIES' | translate }}
            </div>
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="activity in activities | filter:typeFilter" type="item-text-wrap" href="#/tab/activities/{{activity.id}}">
                <img ng-src="{{activity.image}}">
                <h2>{{activity.activityType | translate}}
                <p>{{activity.description}}</p>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>